<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="left">
                <h1>Add a author</h1>
                <form action="/authorcreation" method="post">
                    {% csrf_token %}
                    <label for="author_first_name">First name</label>
                    <input type="text" name="author_first_name">
                    <label for="author_last_name">Last Name</label>
                    <input type="text" name="author_last_name">
                    <label for="author_notes">Notes</label>
                    <input type="text" name="author_notes">
                    <button type="submit">Add</button>
                    
                </form>
            </div>
            <div class="right">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        {% for author in all_authors  %}
                        <tr>
                            <td> {{ author.id }} </td>
                            <td> {{ author.first_name }} {{ author.last_name }}  </td>
                            <td><a href="/authors/{{author.id}}">view</a></td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
</body>

</html>