<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>{{specific_book.title}}</h1>
    <h2>ID: {{specific_book.id}} </h2>
    <h2>Description: {{specific_book.desc}} </h2>
    <h2>Authors</h2>

    <ul>
        {% for book_author in specific_book.authors.all %}
        <li> {{book_author.first_name}} {{book_author.last_name}}</li>
        {% endfor %}
    </ul>


    <form action="/addbtoa" method="post">
        {% csrf_token %}
        <label for="book_to_author">Choose an Author:</label>

        <select name="book_to_author">

            {%for author in all_authors%}
            <option value="{{author.id}}"> {{author.first_name}} </option>
            {%endfor%}
        </select>
        <input type="hidden" name="btoa" value="{{specific_book.id}}">



        <input type="submit" value="Add">
    </form>
</body>

</html>