<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="left">
                <h1>Add a Book</h1>
                <form action="/lll" method="post">
                    {% csrf_token %}
                    <label for="">Title</label>
                    <input type="text" name="book_title">
                    <label for="">Descreption</label>
                    <input type="text" name="description_book">
                    <button type="submit">Add</button>
                </form>
            </div>
            <div class="right">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                    {% for book in all_books  %}
                    <tr>
                        <td> {{ book.id }} </td>
                        <td> {{ book.title }}  </td>
                        <td><a href="/books/{{book.id}}">view</a></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

</body>

</html>