<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <div>
        <form action="/result" method="post">
        <p>Your Name: <input type="text" name="username"> </p>
        <p>Dojo Location <select name="locations" id="locations">
                <option value="Ramallah">Ramallah</option>
                <option value="Nablus">Nablus</option>
                <option value="Jerusalem">Jerusalem</option>
            </select> </p>
        <p>Lang <select name="langs" id="langs">
                <option value="Python">Python</option>
                <option value="CSS">CSS</option>
                <option value="HTML">HTML</option>
                <option value="C">C</option>
                <option value="C">C#</option>
                <option value="C">C++</option>
            </select> </p>
        <p>Comment (optional)
            <textarea name="Comment" id="Comment" cols="30" rows="10"></textarea>
        </p>
        <input type="submit">
        </form>
    </div>
</body>
</html>