<!doctype html>
<html lang="en">

<head>
    <title>Amadon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="display-4 float-left">Amadon</h1>
            <div class="col-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dojo Tshirt</td>
                            <td>$19.99</td>
                            <form method="POST" action="checkout">
                                {% csrf_token %}
                                <td>
                                    <div class="form-group">
                                        <select name="quantity" class="form-control col-sm-4 col-lg-3">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" name="product_id" value="1">
                                    <input type="submit" class="btn btn-primary float-right" value="Buy">
                                </td>
                            </form>
                        </tr>
                        <tr>
                            <td>Dojo Sweater</td>
                            <td>$29.99</td>
                            <form method="POST" action="checkout">
                                {% csrf_token %}
                                <td>
                                    <div class="form-group">
                                        <select name="quantity" class="form-control col-sm-4 col-lg-3">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" name="product_id" value="2">
                                    <input type="submit" class="btn btn-primary float-right" value="Buy">
                                </td>
                            </form>
                        </tr>
                        <tr>
                            <td>Dojo Cup</td>
                            <td>$4.99</td>
                            <form method="POST" action="checkout">
                                {% csrf_token %}
                                <td>
                                    <div class="form-group">
                                        <select name="quantity" class="form-control col-sm-4 col-lg-3">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" name="product_id" value="3">
                                    <input type="submit" class="btn btn-primary float-right" value="Buy">
                                </td>
                            </form>
                        </tr>
                        <tr>
                            <td>Algorithm Book</td>
                            <td>$49.99</td>
                            <form method="POST" action="checkout">
                                {% csrf_token %}
                                <td>
                                    <div class="form-group">
                                        <select name="quantity" class="form-control col-sm-4 col-lg-3">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" name="product_id" value="4">
                                    <input type="submit" class="btn btn-primary float-right" value="Buy">
                                </td>
                            </form>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>